:root {
    --theme-black: #101828;
    --theme-gray: #475467;
    --theme-blue: #203f78;
    --theme-transparent: #eef5ff;
    --theme-bg-gray: #f9fafb;
    --theme-light-blue: #35a4dc;
    --theme-red: #f61516;
    --status-bg-success: #dbfce7;
    --status-bg-warning: #fef9c2;
}

.main-heading {
    color: var(--theme-black)
}
.sub-heading {
    color: var(--theme-gray)
}
.btn-main {
    background: linear-gradient(to right, #3b82f6, #06b6d4);
}
.btn-main:hover {
    background: linear-gradient(to right, #2563eb, #0891b2);
}


@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up 35s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 35s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}
